#background-container {
  width: 100vw;
  height: 100vh;
  background-color: #0bc2cf;
  position: fixed;
  top:0;
  z-index: -1;
}
#background {
  width: 150%;
  height: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url("https://i.ibb.co/7pgnc8y/blook-bg.png");
  transform: translate(-50%, -50%) rotate(15deg);
  opacity: 0.15;
}

#background-container.coc-2023 {
  background-image: url("./assets/backgrounds/coc_2023.png");
  background-color: transparent;
}
#background-container.coc-2022 {
  background-color: #373841;
}
#background-container.lunch {
  background-color: #ebebeb;
}